.footer{
  /* nice gradient for foorer */
  background-image: linear-gradient(var(--main-colour), #990000);
  /* fallback colour in case gradient deons't work */
  background-color: var(--main-colour);
	padding: 0;
  max-width: 100%;
}
