.footer{
  /* nice gradient for foorer */
  background-image: linear-gradient(var(--main-colour), #990000);
  /* fallback colour in case gradient deons't work */
  background-color: var(--main-colour);

	padding: 0;
  max-width: 100%;
}

.social, ul.social > li, ul.social > li > a{
  /* Makes text color white for social media links. Shrinks margin so footer is smaller. */
  color: var(--text-two);
  line-height: 1;
  margin-top: 2px;
  margin-bottom: 2px;
}

ul.social > li > a{
  /* Adding the underline since it isn't a button link and I want to make it obvious that it's a link. */
  text-decoration: underline;
}

.copyright{
  /* Copyright is at bottom center. */
  text-align: center;
  color: var(--text-two);
}
