body{
  /* placeholder image until I decide what I want */
  background-image: url("https://picsum.photos/4000/4000");
  /* fallback colour in case image fails to load */
  background-color: var(--bg-colour);

  /* positioning: top edge of image touches top edge of page, image covers background, image does not repeat, image does not move on scrolling */
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parablock{
  min-height: 300px;
  max-width: 100%;
  background-color: var(--mono-light);
  display: block;
}

.pb-img{
  float: left;
}

.pb-text{
}

.pb-heading{
  color: var(--text-two);
  background-color: var(--mono-dark-SEMI);
}

#top-pb{
  margin-top: 142px;
}

#bot-pb{
  margin-bottom: 77px;
}

#mid-pb > .pb-img{
  float: right;
}
