body{
  /* placeholder image until I decide what I want */
  background-image: url("https://picsum.photos/4000/4000");
  /* fallback colour in case image fails to load */
  background-color: var(--bg-colour);

  /* positioning: top edge of image touches top edge of page, image covers background, image does not repeat, image does not move on scrolling */
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.credit{
  font-size: 10px;
}

.contact-card{
  height: 250px;
}

.contact-details{
  padding: 0;
  list-style-type: none;
  font-size: 20px;
}

#social{
  margin: 0;
  margin-top: 180px;
  padding: 0;
  max-width: 100%;
}

/* mobile stuff. width is 767 because that is where unsemantic draws the line between tablet and phone. */
@media screen and (max-width: 767px) {

  #social{
    margin-top: 20px;s
  }
