body{
  /* placeholder image until I decide what I want */
  background-image: url("https://picsum.photos/4000/4000");
  /* fallback colour in case image fails to load */
  background-color: var(--bg-colour);

  /* positioning: top edge of image touches top edge of page, image covers background, image does not repeat, image does not move on scrolling */
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#pb1{
  margin-top: 142px;
}

#pb5{
  margin-bottom: 77px;
}

#pb2 > .pb-img, #pb4 > .pb-img{
  float: right;
}

#contact-link{
  text-decoration: underline;
}

#first-para, #third-para, #fourth-para, #fifth-para{
  font-size: 24px;
}

.parablock > ul{
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  #pb1{
    margin-top: 0;
  }
}
