body{
  background-image: url("home-background.JPG");
  background-color: var(--bg-colour);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#card4{
  margin-top: 10%
}

#top-cards{
  margin-top: 127px;
}

#bottom-cards{
  margin-bottom: 2%
}

@media screen and (max-width: 767px) {
  #card4{
    margin-top: 5%;
  }

  #top-cards{
    margin-top: 0;
  }
}
