body{
  /* kinda edgy background image of me that I wanted to change but everyone said to keep cos it looks cool so I guess I will */
  background-image: url("home-background.JPG");
  /* fallback colour in case image fails to load */
  background-color: var(--bg-colour);

  /* positioning: top edge of image touches top edge of page, image covers background, image does not repeat, image does not move on scrolling */
  background-position: center top;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#card4{
  /* card 4 is moved down slightly because that looks nicer. */
  margin-top: 10%
}

#top-cards{
  /* top cards don't fall behind header when scrolled to top */
  margin-top: 127px;
}

#bottom-cards{
  /* bottom cards don't touch bottom of page and aren't hidden by footer. */
  margin-bottom: 90px
}

#card1, #card2{
  margin-top: 28px;
}

/* mobile stuff. width is 767 because that is where unsemantic draws the line between tablet and phone. */
@media screen and (max-width: 767px) {

  #top-cards{
    margin-top: 0;
  }
}

/* This affects tablet and mobile. 1024px is used because at width: 1025px the screen is wide enough to show cards like in desktop arrangement, making these redundant (and possibly destructive) */
@media screen and (max-width: 1024px) {
  #card4{
    /* card 4 "Creative Solutions" has no weird margin above it when viewed on mobile.*/
    margin-top: 5%;
  }

  #card1, #card2{
    margin-top: 5%;
  }
}
