body{
  /* picture of me looking over the Tay by the V&A, attempting to look cool and failing. */
  background-image: url("projects-background.JPG");
  /* fallback colour in case image fails to load */
  background-color: var(--bg-colour);

  /* positioning: top edge of image touches top edge of page, image covers background, image does not repeat, image does not move on scrolling */
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.project-card{
  margin: 0;
  margin-left: 4%
}

#featured-projects{
  margin-top: 15%;
}

/* Since you're reading the CSS, I'm gonna help you out. There is a ihidden link
next to the title of the first card in the projects page. DO NOT CLICK IT. */
#secret{
  color: var(--mono-dark);
  font-size: 8px;
}

/* This affects tablet and mobile. 1024px is used because at width: 1025px the screen is wide enough to show cards like in desktop arrangement, making these redundant (and possibly destructive) */
@media screen and (max-width: 1024px) {
  .project-card{
    margin-right: 4%
  }
}

/* mobile stuff. width is 767 because that is where unsemantic draws the line between tablet and phone. */
@media screen and (max-width: 767px) {

  .project-card{
    margin-top: 20px;s
  }

  #featured-projects{
    margin-top: 0;
    margin-bottom: 90px;
  }
}
