body{
  /* picture of me looking over the Tay by the V&A, attempting to look cool and failing. */
  background-image: url("projects-background.JPG");
  /* fallback colour in case image fails to load */
  background-color: var(--bg-colour);

  /* positioning: top edge of image touches top edge of page, image covers background, image does not repeat, image does not move on scrolling */
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
