<!-- Page footer -->
<footer class='grid-container footer'>
  <p class="social">Follow Me:
    <ul class="social">
      <!-- target="_blank" makes the links open in a new tab. Much better UX. -->
      <li>Instagram: <a href="https://www.instagram.com/nick.dv99/" target="_blank"><strong>nick.dv99</strong></a></li>
      <li>GitHub: <a href="https://github.com/ndv99" target="_blank"><strong>ndv99</strong></a></li>
    </ul>
  </p>
  <p class='copyright'>
    <!-- &copy; is the code for the copyright symbol -->
    &copy;2018 Nick De Villiers. Some rights reserved.
  </p>
</footer>
