<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- metadata -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1,
                   minimum-scale=1,
                   maximum-scale=1"/>

    <!-- External styles/frameworks -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unsemantic/1.2.3/unsemantic-grid-responsive-tablet.css"> <!-- unsemantic -->

    <!-- Base/ -->
    <link rel="stylesheet" href="styles/base/reset.css"> <!-- CSS reset-->
    <link rel="stylesheet" href="styles/base/typography.css"> <!-- typography -->
    <link rel="stylesheet" href="styles/base/globals.css"> <!-- globals -->

    <!-- Components/ -->
    <link rel="stylesheet" href="styles/components/cards.css"> <!-- cards -->

    <!-- Layout/ -->
    <link rel="stylesheet" href="styles/layout/header-and-nav.css"> <!-- header and navbar -->
    <link rel="stylesheet" href="styles/layout/footer.css"> <!-- footer -->

    <!-- Pages/ -->
    <link rel="stylesheet" href="styles/pages/{{css}}.css">

    <!-- Abstracts/ -->
    <link rel="stylesheet" href="styles/abstracts/variables.css"> <!-- variables -->

    <title>fulltitle</title>
  </head>
  <body>

  </body>
</html>
