<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include head.html %}
  </head>
  <body>
    <!-- DESKTOP/TABLET HEADER -->
    <header class="hide-on-mobile" id="header-and-menu">

      <!-- title bar -->
      <div class="grid-container header">
        <h1 class="title">Nick De Villiers</h1>
      </div>

      <!-- menu bar -->
      <nav class="grid-container menu">
        <section class='grid-10 tablet-grid-15 {% if title == "Home" %} active {% endif %} menu-box' id="home">
          <a class='menu-item active' href="index.html">Home</a>
        </section>
        <section class='grid-10 tablet-grid-15 {% if title == "About Me" %} active {% endif %} menu-box' id="about">
          <a class="menu-item" href="about.html">About Me</a>
        </section>
        <section class='grid-10 tablet-grid-15 {% if title == "Projects" %} active {% endif %} menu-box' id="projects">
          <a class="menu-item" href="projects.html">Projects</a>
        </section>
        <section class='grid-10 tablet-grid-15 {% if title == "My CV" %} active {% endif %} menu-box' id="cv">
          <a class="menu-item" href="cv.html">My CV</a>
        </section>
        <section class='grid-10 tablet-grid-15 {% if title == "Contact Me" %} active {% endif %} menu-box' id="contact">
          <a class="menu-item" href="contact.html">Contact Me</a>
        </section>
      </nav>

    </header>

    <!-- code for mobile menu partially from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar -->
    <!-- MOBILE HEADER -->
    <header class="hide-on-desktop hide-on-tablet" id="mobile-header">

      <!-- title bar -->
      <div class="header mobile-title-bar">
        <h1 class="title">
          NDV
        </h1>
      </div>

      <nav class="menu">
        <a href="index.html" class='{% if title == "Home" %} active {% endif %} menu-item'>Home</a>
        <a href="about.html" class='{% if title == "About Me" %} active {% endif %} menu-item'>About</a>
        <a href="projects.html" class='{% if title == "Projects" %} active {% endif %} menu-item'>Projects</a>
        <a href="cv.html" class='{% if title == "My CV" %} active {% endif %} menu-item'>My CV</a>
        <a href="contact.html" class='{% if title == "Contact Me" %} active {% endif %} menu-item'>Contact Me</a>
      </nav>

    </header>
  </body>
</html>
