.cards{
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.card{
  margin: 5%;
  margin-bottom: 0;
  padding: 0;
  border-radius: 15px 0px 15px 0px;
  background-color: var(--mono-light);
  box-shadow: 5px 5px 20px black;
}

.card-heading{
  color: var(--text-two);
  padding: 2%;
  background-color: var(--mono-dark);
  border-radius: 15px 0px 0px 0px;
  border-color: var(--mono-dark);
}

.card-content{
  padding: 2%;
}

.card-img{
  width: 100%;
}
