/* If you're looking at the source code for this, you're probably wondering what a parablock is.
Well basically, if you look at this page when rendered, you'll see an image, next to a piece of text and a title. The text is just
a paragraph, and the image, paragraph, and title are all put nicely together in a block. I had trouble coming up with a name for this
structure, until I coined 'parablock' - a paragraph in a neat little block. It's a stupid name, I know, but at least it's a name. */

.parablock{
  min-height: 300px;
  max-width: 100%;
  background-color: var(--mono-light-SEMI);
  opacity: 50%; /* semi transparent */
  display: block;
}

/* image floats to the left of text by default and is 300x300 */
.pb-img{
  float: left;
  height: 300px;
  width: 300px;
}

/* for text and heading, the look is similar to the cards. */
.pb-text{
  color: var(--text-one);
}

.pb-heading{
  color: var(--text-two);
  background-color: var(--mono-dark-SEMI);
}

/* shrinks image on mobile for better readability of text */
@media screen and (max-width: 767px) {
  .pb-img{
    height: 200px;
    width: 200px;
  }
}
