@import url('https://fonts.googleapis.com/css?family=Catamaran|Fira+Sans:300'); /* Google Fonts import */

/* DEFAULT FONTS */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif;
	color: var(--text-one);
}

p, a, ul, ol, li, blockquote, small {
  font-family: 'Fira Sans', sans-serif;
  color: var(--text-one);
}

p{
  font-size: 18px;
}
