@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Sintony:700');

/* CSS RESET */
html, body, div, span, applet, h1, h2, h3, h4, h5, h6, p,{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

/* COLOURS */
:root{
  --main-colour: #FF0000;
  --secondary-colour: #870808;
  --mono-dark: #443737;
  --mono-light: #DDD0D0;
  --bg-colour: #FFFFFF;
}

/* DEFAULT FONTS */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Sintony', sans-serif;
}

p, ul, ol, li, blockquote {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}
