@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Sintony:700');

/* CSS RESET */
html, body, div, span, applet, h1, h2, h3, h4, h5, h6, p,{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
}

/* COLOURS */
:root{
  --main-colour: #FF0000;
  --secondary-colour: #870808;
  --mono-dark: #443737;
  --mono-light: #DDD0D0;
  --bg-colour: #FFFFFF;
}

body{
	background-color: var(--bg-colour);
}

/* DEFAULT FONTS */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Sintony', sans-serif;
}

p, ul, ol, li, blockquote {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}

/* CLASS-SPECIFIC STYLING */
.header{
  background-color: var(--main-colour);
  color: white;
}

.title{
  font-size: 45px;
  padding: 20px;
	margin: 0;
}

.menu{
	margin: 0;
  padding: 0;
  background-color: var(--secondary-colour);
  color: white;
	text-align: left;
	padding-left: 24px;
}

.menu-item{
	border-width: medium;
	border-left: 4px;
	border-color: white;
	font-size: 8px;
	text-transform: uppercase;
}

.grid-container{
  max-width: 100%;
}
